.game {
  position: absolute;
  width: 37.5em;
  height: 12.5em;
  border: 1px solid black;
  margin: auto; /* usado para centralizar */ 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(img/back.png);
}

#capybara {
  width: 60px;
  height: 60px;
  background-image: url(img/capybara.gif);
  background-size: 60px 60px;

  position: relative;
  top: 157px;
}

.animation {
  animation: block 1s infinite linear;
}

.pause {
  animation-play-state: paused !important;
}

#gameover {
  top: -80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  letter-spacing: 10px;
  color: dimgray;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 215%);
}

#restart {
  background-image: url(img/restart.jpg);
  background-size: 35px 35px;
  height: 35px;
  width: 35px;
}

.jump {
  animation: jump 0.3s linear;
}

.visibility {
  visibility: hidden;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px;
  }
  
  80% {
    top: 130px;
  }

  100% {
    top: 150px;
  }
}

#cactus {
  width: 20px;
  height: 40px;
  position: relative;
  top: 100px;
  left: 580px;

  background-image: url(img/cactus.png);
  background-size: 20px 40px;
}

@keyframes block {
  0% {
    left: 580px;
  }

  100% {
    left: -20px;
  }
}


@media (max-width: 400px) {
  .game {
    width: 100vw;
  }

  #gameover {
    font-size: 10px;
  }
}
